.p-login {
    width: 100%;
    height: 100vh;
    display: flex;

    &_left {
        @include adjust-flex(center, center);
        width: 100%;
        max-width: 50%;
        flex: 0 0 50%;
        background-color: $cool-black005;
    }

    &_right {
        width: 100%;
        max-width: 50%;
        flex: 0 0 50%;
        @include adjust-flex(center, flex-start);
        background-color: $white;
        flex-direction: column;
        padding-left: rem(120);
        padding-right: rem(163);

        .ant-form {
            width: 100%;
        }

        .ant-form-item-explain-error {
            text-align: left;
        }

        &_title {
            width: 100%;
            margin-bottom: rem(32);
        }

        .ant-btn {
            width: 100%;
            background-color: $cool-black;
            margin-top: rem(12);
        }
    }
}