.p-typeCoach {
    padding: rem(16) rem(20);
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 3%);
    border-radius: rem(16);
    background-color: $white;
    .ant-typography {
        text-align: left;
        font-weight: 600;
        margin-bottom: 0;
    }

    .ant-btn {
        background-color: $cool-black;
        float: right;
        border-color: transparent;
        margin-bottom: rem(20);
        margin-left: rem(8);

        &:last-child {
            margin-left: 0;
        }
    }
}