.ant-layout-header {
    height: $height-header;
    background-color: $white;
    @include adjust-flex(flex-end, flex-start);
    border-bottom: rem(1) solid $anti-flash-white;
    padding: 0 rem(24);

    .header-account {
        @include adjust-flex();
        flex-direction: row-reverse;
        cursor: pointer;

        .ant-image {
            width: rem(40);
            margin: 0 rem(12);
            &-img {
                border-radius: 50%;
            }
        }

        .ant-typography {
            margin: 0;
            font-weight: 600;
        }
    }
}