.ant-layout-header {
    height: $height-header;
    background-color: $white;
    @include adjust-flex(flex-end, flex-start);

    .header-account {
        @include adjust-flex();
        flex-direction: row-reverse;
        cursor: pointer;

        .ant-image {
            width: rem(40);
            &-img {
                border-radius: 50%;
            }
        }

        .ant-typography {
            margin: 0;
            margin-right: rem(8);
        }
    }
}