// Libraries
@import "antd/dist/antd.min.css";

// Setup
@import './styles/common.scss';


// Components
@import './components/Header/index.scss';
@import './components/Sider/index.scss';
@import './components/Footer/index.scss';


// Page
@import 'src/pages/AboutUs/index.scss';
@import './pages/Coach/index.scss';
@import './pages/ContactUs/index.scss';
@import './pages/Dashboard/index.scss';
@import './pages/Driver/index.scss';
@import './pages/News/index.scss';
@import './pages/NotFound/index.scss';
@import './pages/Recruit/index.scss';
@import './pages/Ticket/index.scss';
@import './pages/Login/index.scss';
@import './pages/Booking/index.scss';
@import './pages/Schema/index.scss';
@import './pages/TypeCoach/index.scss';
@import './pages/Schedule/index.scss';
@import './pages/Dashboard/index.scss';


.App {
    font-family: sans-serif;
    text-align: center;
}


// .ant-modal-wrap {
//     overflow-y: hidden !important;
// }

.ant-layout-content {
    background-color: #f4f7fe;
    padding: rem(30) rem(32);
    
}

.ant-notification-notice-message {
    margin: 0;
}

.ant-modal-header {
    padding-bottom: rem(12) !important;
}
.ant-modal-title {
    font-weight: 600 !important;
}

.ant-btn {
    border-radius: rem(8) !important;
}
