// Libraries
@import "antd/dist/antd.min.css";

// Setup
@import './styles/common.scss';


// Components
@import './components/Header/index.scss';
@import './components/Sider/index.scss';
@import './components/Footer/index.scss';


// Page
@import 'src/pages/AboutUs/index.scss';
@import './pages/Coach/index.scss';
@import './pages/ContactUs/index.scss';
@import './pages/Dashboard/index.scss';
@import './pages/Driver/index.scss';
@import './pages/News/index.scss';
@import './pages/NotFound/index.scss';
@import './pages/Recruit/index.scss';
@import './pages/Ticket/index.scss';
@import './pages/Routes/index.scss';
@import './pages/Login/index.scss';
@import './pages/Booking/index.scss';

.App {
    font-family: sans-serif;
    text-align: center;
}


.ant-layout-content {
    background-color: $isabelline;
    padding: rem(16);
}

.ant-notification-notice-message {
    margin: 0;
}